*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
header{
    width: 100%;
    background-color:rgb(5, 12, 51);
    color: white;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
   
}
header a{
    color:aliceblue;
    font-size: 20px;
    margin: 0px 50px 0px 0px;
}
header a:hover{
    color: #900909;
}

h2{
    margin: 0px 0px 0px 20px;
}


nav{
    display: flex;
    justify-content: space-between;
    
}

ul{
    
    list-style: none;
}
a{
    color: #900909;
}


body{
    background-image: url(../medias/tekken_8_wallpaper___8k__city_background_by_vgejackler_dfjzff7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    
}
main{
    background-color: gray;
}

header ul{
    text-decoration: none;
}

.cont{
    margin-top: 100px;
    width: 700px;
    height: 100%;
    background-color: rgb(42, 42, 42);
    
}

#me_de_papai{
    display: flex;
    justify-content: center;
}

.cont h3{
    margin: 0px 0px 0px 20px;
    color: yellow;    
    font-size: 30px;

}
.cont p{
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}
.cont li{
    margin: 10px 0px 10px 20px;
    font-size: 20px;
}
