*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
    padding-top: 29px;
    display: flex;
   
}



nav{
    display: flex;
    justify-content: space-between;
    
}

ul{
    text-align: center;
    list-style: none;
}
a{
    color: #dcc8c8;
}
li { 
    display: inline;
}

body{
    background-image: url(../medias/tekken_8_wallpaper___8k__city_background_by_vgejackler_dfjzff7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    
}
main{
    background-color: gray;
}

header ul{
    text-decoration: none;
}

.cont{
    
    width: 700px;
    height: 900px;
    background-color: darkgrey;
    
}

#me_de_papai{
    display: flex;
    justify-content: center;
}

.cont h3{
    color: black;
    padding: 50px 0 0 40px;
    font-size: 30px;
    
}

#black{
   
    background-color: rgb(249, 7, 7);
    width: 550px;
    height: 150px;
    display: flex;
    justify-content: end;
}

#white{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#black p {
   color: white;
}

