*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    
    width: 100%;
    height: 60px;
    background-color:rgb(5, 12, 51);
    color: white;
    text-align: center;
    padding: 20px 0;
    transition: top 0.2s ease-in-out;
}

#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    gap: 222px;
}

nav{
    display: flex;
    justify-content: space-between;
    
}

ul{
    text-align: center;
    list-style: none;
}
a{
    color: #d2d2d2;
}
li {
    
    display: inline;
    

}

body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info{
    width: 800px;
    height: 5000px;
    background-color: rgba(107, 105, 108, 0.5);
    margin: 30px 30px 0px 50px;
}
.move-set{
    width: 500px;
    height: 500px;
    
}

img{
    margin: 0px 0px 0px 300px;
    width: 30%;
    height: 30%;
}

main header{
    border-bottom: 5px solid #ed0808;
    font-size: 30px;
}
main header p{
    margin: 25px 0 0 350px;
    color: #ffff;
    font-size: 30px;
}
main p{
    color:#ffff;
    font-size: 24px;
    margin: 10px 10pxw;
}