*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {    
    width: 100%;
    background-color:rgb(5, 12, 51);
    color: white;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
    
}
a{
    color: #d2d2d2;
}
li {
    display: inline;
}

body{
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info{
    width: 700px;
    height: 5000px;
    background-color: rgba(107, 105, 108, 0.5);
    margin: 0px 30px 0px 50px;
}
.move-set{
    width: 500px;
    height: 500px;
    
}

img{
    margin: 0px 0px 0px 250px;
    width: 30%;
    height: 30%;
}

main header{
    margin-top: 100px;
    border-bottom: 5px solid #ed0808;
    font-size: 30px;
}
main header p{
    margin: 25px 0 0 270px;
    color: #ffff;
    font-size: 30px;
}
main p{
    color:#ffff;
    font-size: 24px;
    margin: 10px 10px;
}

@media screen and (max-width: 640px){

    .info{
        width: 520px;
        height: 2500px;
    }
    img{
        margin: 0px 0px 0px 150px;
        width: 30%;
        height: 30%;
    }
    main header p{
        margin: 25px 0 0 150px;
        color: #ffff;
        font-size: 30px;
    }
    
}

@media screen  and (min-width: 641px) and (max-width: 1365){
    #header{
        background-color: green;
    }    
}

@media screen and (orientation:portrait){


}